# This file specifies which files and directories should be ignored when building the Docker image.

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.tmp
*.env
*.DS_Store
.vscode/
.idea/
__pycache__/
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
*.png